[package]
name = "{{ package_name }}"
version = "0.1.0"
edition = "2021"
description = "{{ project_description }}"
{% if hosting_platform != "none" %}
repository = "{{ repo_url }}"
{% endif %}
{% if github_pages %}
documentation = "{{ pages_url }}/docs/{{ package_name | replace('-', '_') }}/"
{% endif %}
license = "{% if license == "Proprietary" %}LicenseRef-Proprietary{% else %}{{ license }}{% endif %}"
publish = false

{% if project_type == "library" %}
[lints.rust]
missing_debug_implementations = "warn"
missing_docs = "warn"

{% endif %}
[dependencies]
{% if project_type == "application" %}
anyhow = "1.0.86"
clap = { version = "4.5.16", features = ["cargo", "derive", "env"] }
clap_complete = "4.5.18"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
{% endif %}
