[package]
name = "{{ package_name }}"
version = "0.1.0"
edition = "2021"
description = "{{ project_description }}"
{% if repository_provider != "none" %}
repository = "https://{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}/"
{% if repository_privider == "github.com" and pages_enabled %}
documentation = "https://{{ repository_namespace }}.github.io/{{ repository_name }}/{{ package_name | replace('-', '_') }}/"
{% endif %}
{% endif %}
license = "{% if copyright_license == 'Proprietary' %}LicenseRef-Proprietary{% else %}{{ copyright_license }}{% endif %}"
{% if copyright_license == 'Proprietary' %}
publish = false
{% endif %}

[dependencies]
{% if project_type == 'bin' %}
clap = { version = "3.2.15", features = ["derive"] }
{% endif %}
