[advisories]
version = 2

[bans]
multiple-versions = "allow"

[licenses]
version = 2
{% set licenses = [] %}
{% if project_type == "application" %}
{# Clap and its dependencies. #}
{% set _ = licenses.append("MIT") %}
{% endif %}
{% if licenses | length == 0 %}
allow = []
{% elif licenses | length == 1 %}
allow = ["{{ licenses[0] }}"]
{% else %}
allow = [
{% for l in licenses | sort | unique %}
  "{{ l }}",
{% endfor %}
]
{% endif %}
{% if license == "Proprietary" %}

[licenses.private]
ignore = true
{% endif %}
{% set exceptions = [] %}
{% if license != "Proprietary" and license not in licenses %}
{% set _ = exceptions.append({"name": package_name, "license": license }) %}
{% endif %}
{% if project_type == "application" %}
{% set _ = exceptions.append({"name": "unicode-ident", "license": "Unicode-DFS-2016"}) %}
{% endif %}
{% for exception in exceptions | sort(attribute="name") %}

[[licenses.exceptions]]
name = "{{ exception.name }}"
allow = ["{{ exception.license }}"]
{% endfor %}
