{% if rust_toolchain == "nightly" %}
#![cfg_attr(doc, feature(doc_auto_cfg))]

{% endif %}
//! {{ project_description }}
{% if forge != "none" %}
//!
//! [Repository]
//!
//! [Repository]: {{ repo_url }}
{% endif %}

#[cfg(test)]
mod tests {
    #[test]
    fn it_works() {
        let result = 2 + 2;
        assert_eq!(result, 4);
    }
}
