//! {{ project_description }}
{% if repository_hosted %}
//!
//! [Repository]
//!
//! [Repository]: {{ repository_url }}
{% endif %}

#[cfg(test)]
mod tests {
    #[test]
    fn it_works() {
        let result = 2 + 2;
        assert_eq!(result, 4);
    }
}
